
.input-group{
  height: 35px;
}




  .mat-button{
    min-width: 24px !important;
}


  /* new */

.align-items-center {
    align-items: center!important;
}

  /* new */
  .border-left-info {
    border-left: .25rem solid  #576673!important;
}
.align-items-center {
    align-items: center!important;
}
.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding-top: 30px;
}
.text-xs {
    font-size: .8rem;
}

.text-info {
    color: var(--main-color)!important;
    font-size: 16px;
    background: var(--third-color);
    padding: 10px 5px;
    border-radius: 3px;
}


mat-card{
  padding: 0 !important;
  background-color: transparent !important;

}


mat-icon,.percentage{
    font-size: 2em;
    font-weight: 900;
    color: #bababa!important;
   margin-top: 15px;
}
.res{
  color:grey
}
.h5{
  font-size: 14px;
}

.breakline {
  border: 1px solid #efefef;
  width: 100%;
  float: left;
  margin-top: 10px;
}



canvas{
  height: 250px !important;
}



/* table */

.blocksmall {
  position: inherit;
  width: 100%;
  border: none;
  background-color: #fff;
  border: 1px solid #f3f2f2;
  box-shadow: 1px 3px 7px #c0c0c0;
  min-height: 225px;
}
.tableindexdiv {

  max-height: 170px;
  overflow: auto;
  float: left;
  width: 100%;
}
.statuslblindex {
  font-size: 14px;
  color: #d04242;
  padding: 5px;
  float: left;
}
.datelblindex {
  font-size: 14px;
  color: var(--cr2-color);
  margin-left: 2px;
  padding: 5px;
  float: left;
}
.flatbtnindex {
  background-color: var(--cr2-color);
  font-size: 14px;
  color: #fff;
  padding: 3px;
  border: none;
  width: 100px;
  text-align: center;
  cursor: pointer;
  margin-top: 2px;
}
.lblindex {
  font-size: 14px;
  color: var(--second-color);
  padding: 5px;
  float: left;
  width: 73px;
}
