<!--  ------main----------------- -->
<mat-card class="example-card" >
  <div class="row">
    <div class="col-sm-12 col-md-3 mx-auto mb-2">
        <div class="card border-left-info shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2 text-center">
                        <div class="font-weight-bold text-info  mb-1">Pending Sales</div>
                        <div class="row  ">
                            <div class="col-auto w-100 ">
                                <div class="h5 mb-1 font-weight-bold text-gray-800 text-center">0</div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-8 mb-3">

          <div class="card border-left-info shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="font-weight-bold text-info  mb-1">Open & Closed Requested Chart / <span class="text-white"> {{ currentMonthAndYear }}</span></div>

                <div class="chart-wrapper mt-4">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [colors]="lineChartColors"
                        [chartType]="lineChartType"  [options]="lineChartOptions" [plugins]="lineChartPlugins"
                        [legend]="lineChartLegend">
                    </canvas>
                </div>


            </div>

</div>
</div>
</div>

        </div>

        <div class="col-sm-12 col-md-4 mb-3">
          <div class="card border-left-info shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="font-weight-bold text-info  mb-1">Requests Summary /<span class="text-white"> {{ currentMonthAndYear }}</span></div>

                    <table width="100%"  class="tableindex">
                        <tbody>
                            <tr>
                                <td>
                                    <label class="datelblindex">Requestes Created Today</label>
                                </td>
                                <td>
                                    <span id="MainContent_lbldatelast" class="lblindex">{{graphDataCount.createdRequestsToday}}</span>
                                </td>


                            </tr>
                            <tr>
                              <td>
                                  <label class="datelblindex">Requests Created This Month</label>
                              </td>
                              <td>
                                  <span id="MainContent_lbldatelast" class="lblindex">{{graphDataCount.createdRequestsThisMonth}}</span>
                              </td>


                          </tr>
                          <tr>
                            <td>
                                <label class="datelblindex">Requested Completed Today</label>
                            </td>
                            <td>
                                <span id="MainContent_lbldatelast" class="lblindex">{{graphDataCount.completedRequestsToday}}</span>
                            </td>


                        </tr>
                        <tr>
                          <td>
                              <label class="datelblindex">Requestes Completed Today</label>
                          </td>
                          <td>
                              <span id="MainContent_lbldatelast" class="lblindex">{{graphDataCount.completedRequestsThisMonth}}</span>
                          </td>


                      </tr>
                      <!-- <tr>
                        <td>
                            <label class="datelblindex">Requestes Completed This Month</label>
                        </td>
                        <td>
                            <span id="MainContent_lbldatelast" class="lblindex">0</span>
                        </td>


                    </tr> -->
                    <tr>
                      <td>
                          <label class="datelblindex">Pending  Vendor (exceed 5 Day)</label>
                      </td>
                      <td>
                          <span id="MainContent_lbldatelast" class="lblindex">{{graphDataCount.violatedPendingVendorRequests}}</span>
                      </td>


                  </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
          </div>
          </div>


    </div>

     <div class="row">
      <div class="col-sm-12 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col">
                          <div class="font-weight-bold text-info  mb-1">Monthly Chart /<span class="text-white"> {{ currentMonthAndYear }}</span></div>
                          <div class="chart-wrapper rounded mb-4">
                            <canvas baseChart class="creator"
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [colors]="colors"
                            [plugins]="barChartPlugins"

                            [chartType]="doughnutChartType"
                           >
                          </canvas>
                        </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <!-- second card -->
      <div class="col-sm-12 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col">
                          <div class="font-weight-bold text-info  mb-1">Today Chart/<span class="text-white"> {{ currentMonthAndYear }}</span></div>
                          <canvas baseChart class="creator"
                          [data]="doughnutChartData"
                          [labels]="doughnutChartLabels"
                          [colors]="colors"
                          [plugins]="barChartPlugins"

                          [chartType]="doughnutChartType"
                         >
                        </canvas>
                      </div>

                  </div>
              </div>
          </div>
      </div>




  </div>
</mat-card>
<!-- <app-loader></app-loader> -->
