<!--  ------main----------------- -->
<mat-card class="example-card p-0">

  <form [formGroup]="form" (submit)="onSubmit()">


    <div class="row">

<div class="col-sm-12 col-md-12">
  <div class="card border-left-info shadow h-100 py-3">
      <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                  <div class="font-weight-bold text-info  mb-5">Change Password</div>
                  <div class="row no-gutters">
                    <div class="col-auto">
                      <!-- <div class="h6 mb-4 mr-5 font-weight-bold text-gray-800">Old Password : </div> -->
                      <div class="h6 mb-4 mr-5 font-weight-bold text-gray-800">New Password : </div>
                      <div class="h6 mb-4 mr-5 font-weight-bold text-gray-800">Confirm Password : </div>

                  </div>
                  <div class="col">
                   <!-- <div>
                       <mat-form-field class="w-100">
                        <input matInput  formControlName="oldPassword" placeholder="Old Password">
                      </mat-form-field>
                    </div> -->
                    <div>
                      <mat-form-field class="w-100">
                        <input matInput formControlName="newPassword" placeholder="New Password">
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="w-100">
                        <input matInput formControlName="reTypeNewPassword" placeholder="Confirm Password">
                      </mat-form-field>
                    </div>


                  </div>


                        <div class="w-100 text-center mt-5">
                          <button
                            mat-raised-button
                            class="w-25 text-white submit"
                            type="submit"
                          >
                            Save
                          </button>

                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>






    </div>
  </form>
</mat-card>

<!-- ---------------------form--------------------------- -->
