<div class="brand text-center">
  <div class="searchBox p-2">
    <div class="box">
      <input matInput class="input-search" placeholder="Search by Request ID" />
      <button class="btn-danger btn-search" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-list>
  <a
    mat-list-item
    (click)="setTitle('Home')"
    routerLink="./"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>

  <a
    mat-list-item
    (click)="setTitle('Request / AddNew')"
    routerLink="./newRequest"
    routerLinkActive="active"
  >
    <mat-icon>reply_all</mat-icon>
    <span class="nav-caption">Add Request</span>
  </a>
  <a mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <mat-icon> list</mat-icon>
    <span class="full-width nav-caption" *ngIf="isExpanded || isShowing"
      >Requests</span
    >

    <mat-icon
      class="menu-button"
      [ngClass]="{ rotated: showSubmenu }"
      *ngIf="isExpanded || isShowing"
      >expand_more
    </mat-icon>
  </a>
  <div
    class="submenu"
    [ngClass]="{ expanded: showSubmenu }"
    *ngIf="isShowing || isExpanded"
  >
    <a
      mat-list-item
      (click)="setTitle('Requests / Pending Sales')"
      routerLink="./template"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="userRole != 'Vendor'"
    >
      <span class="nav-caption">Pending Account Manager</span>
    </a>
    <a
      mat-list-item
      (click)="setTitle('Requests / Pending Presales')"
      routerLink="./pendingPresales"
      routerLinkActive="active"
      *ngIf="userRole != 'Vendor'"
    >
      <span class="nav-caption">Pending Presales</span>
    </a>
    <a
      mat-list-item
      (click)="setTitle('Requests / Pending Vendor')"
      routerLink="./pendingVendor"
      routerLinkActive="active"
    >
      <span class="nav-caption">Pending Vendor</span>
    </a>
    <a
      mat-list-item
      (click)="setTitle('Requests / Completed')"
      routerLink="./completed"
      routerLinkActive="active"
    >
      <span class="nav-caption">Completed</span>
    </a>
  </div>
  <a
    mat-list-item
    *ngIf="userRole == 'Presales'"
    (click)="setTitle('Report / Get New')"
    routerLink="./Report"
    routerLinkActive="active"
  >
    <mat-icon>view_comfy</mat-icon>
    <span class="nav-caption">Report</span>
  </a>

  <!-- ----------users----------------------- -->
  <a mat-list-item *ngIf="userRole == 'Presales'" (click)="showSubmenu1 = !showSubmenu1" class="parent">
    <mat-icon>group</mat-icon>

    <span class="full-width nav-caption" *ngIf="isExpanded1 || isShowing1"
      >Users</span
    >

    <mat-icon
      class="menu-button"
      [ngClass]="{ rotated: showSubmenu1 }"
      *ngIf="isExpanded1 || isShowing1"
      >expand_more
    </mat-icon>
  </a>
  <div
    class="submenu"
    [ngClass]="{ expanded: showSubmenu1 }"
    *ngIf="isShowing1 || isExpanded1"
  >
    <a
      mat-list-item
      (click)="setTitle('Users / Add & Edit Users')"
      routerLink="./userAdd"
      routerLinkActive="active"
    >
      <span class="nav-caption">Add</span>
    </a>
    <a
      mat-list-item
      (click)="setTitle('Users / View')"
      routerLink="./userView"
      routerLinkActive="active"
    >
      <span class="nav-caption">View</span>
    </a>
  </div>
</mat-list>
