
main{
    /* padding:50px 10px 0px 10px; */
    padding: 45px 0 0 0 ;
}
mat-sidenav-container ,mat-sidenav-content , mat-sidenav{
    height: 100%;;
}


/* mat-sidenav{

    background:linear-gradient(90deg,#3c0519,#3c0519, #791238);
 box-shadow: 0px 5px 15px #a4a4a3;
   position: fixed;
   padding-top: 64px;
} */
app-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;

}



#sidenav {
    width: 236px;
}

#sidenav.menu-close {
    width: 0px
}

#sidenav.menu-open {
    width: 236px
}


#sidenav .mat-list-item-content {
    padding: 0;
}




/* ------------------test------------------- */


.subheader{
  height: 170px;
  background-color:var(--main-color);
  color: #fff;
    line-height: 2;
  position: fixed;

}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile app-header{
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
.title{
  font-size: 20px;
}
