

<!--  ------main----------------- -->
<mat-card class="example-card border-left-info ">

  <div class="font-weight-bold text-info  mb-1">Show Pending Presales Requests</div>

  <div class="search-div mt-3" fxLayout="row">
      <mat-form-field class="search-form-field" floatLabel="never">
          <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
         <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
      <button mat-button class="new" >
          <mat-icon class="mr-1">print</mat-icon>Print
      </button>
  </div>



  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource"   matSort  matSortActive="name" matSortDirection="asc" matSortDisableClear >

      <ng-container matColumnDef="ID" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
        <mat-cell *matCellDef="let element" >
          {{element.id}}
        </mat-cell>
    </ng-container>



        <ng-container matColumnDef="CustomerName">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.customerName}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="BranchName">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Branch Name</mat-header-cell>
          <mat-cell *matCellDef="let element">

            {{element.branchName}}
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="L.CName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>L.C Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.localContactName}}
        </mat-cell>
    </ng-container>

        <ng-container matColumnDef="L.CMobile">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> L.C Mobile</mat-header-cell>
            <mat-cell *matCellDef="let element" >
               {{element.localContactMobile1}}
              </mat-cell>
        </ng-container>

        <ng-container matColumnDef="AccountManager">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  Account Manager</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.userName}}
             </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Status">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  Status</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.statusName}}
            </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Vendor">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  Vendor</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.vendor.name}}
          </mat-cell>
    </ng-container>
      <ng-container matColumnDef="CreatedDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  Created Date</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.createdDate | date:'short'}}
          </mat-cell>
    </ng-container>

        <ng-container matColumnDef="action" >
            <mat-header-cell mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
            <mat-cell *matCellDef="let row">


                <button mat-button   class="btn-success "  matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button   class="btn-warning text-white mx-1"  matTooltip="Attachment" (click)="addAttach(row.id)">
                  <mat-icon>attach_file</mat-icon>
              </button>

                <button mat-button   class="btn-danger" matTooltip="Delete" (click)="onDelete(row)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </mat-cell>

        </ng-container>


        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="7">
              No data ...
            </mat-footer-cell>

        </ng-container>



        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource.data.length==0 && dataSource !=null)}"></mat-footer-row>
        <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true" sticky></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


    </mat-table>
    <!-- end test -->
    </div>
    <!--
    </ng-template> -->

    <mat-paginator [pageSizeOptions]="[10,25, 50, 100]"   [pageSize]="10"   showFirstLastButtons></mat-paginator>

  </mat-card>
  <ngx-spinner type="timer">
    <h5>Loading</h5>
  </ngx-spinner>
