<!--  ------main----------------- -->
<mat-card class="example-card">

  <form
  >
    <div class="row">
      <div class="col-sm-12 col-md-12 mb-4">
        <div class="card border-left-info shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-weight-bold text-info  mb-3">Add New Account</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h6 mb-3 mr-5 font-weight-bold text-gray-800">Username : </div>
                                <div class="h6 mb-3 mr-5 font-weight-bold text-gray-800">Group : </div>




                            </div>
                            <div class="col pr-5">

                              <div>
                                <mat-form-field class="w-100">
                                  <input matInput placeholder="example@tedata.com">
                                </mat-form-field>
                              </div>
                              <div>
                                <mat-form-field class="w-100">
                                  <mat-select  matInput placeholder="Group">
                                    <mat-option></mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>



                            </div>



                        </div>

                    </div>

                </div>
                <div class="w-100 text-center mt-5">
                  <button
                    mat-raised-button
                    class="w-25 text-white submit"
                    type="submit"
                  >
                    Save
                  </button>
                </div>
            </div>
        </div>

    </div>



    </div>
  </form>
</mat-card>



