<div>
  <div class="content-container pt-1 pb-2 pl-3 ">
   <span><mat-icon>delete_forever</mat-icon></span>
     <span class="ml-2">Delete</span>


  </div>
  <div  class="content-container py-3">
      <span class="content-span ">
          Are you sure you want to <strong>delete</strong> this record?
      </span>
  </div>
  <div class="content-container  full-width">
    <button  id="yes-button" (click)="onDelete()">Yes</button>
  <button    id="no-button" (click)="onClose()">No</button>
</div>
</div>

