.mat-toolbar{
    font-size: 13px;
    color: var(--fifth-color);
    background: var(--third-color) /*#f8f7f7*/;
    box-shadow: 0px 1px 12px #7a6b6b;
    border-bottom: 3px solid var(--main-color);


}
.brand{
  color: #fff;
  height: 100%;
  padding: 10px;
  padding-left: 5px !important;
  align-items: center;
}
.separator{
  /* font-size: 30px; */
  width: 1.2px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;

    background-color: var(--forth-color);
    color: var(--third-color) ;
}
.brandTitle{
  line-height: 1;
  font-size: 16px;
  display: inline-flex;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 3px 3px #b5b5b5;
  letter-spacing: 2px;
  vertical-align: middle;
}
a{
  text-decoration: none;
  color:white;
}
a:hover ,a:active{
  color: lightgray;
}
a.mat-menu-item{
  color: var(--main-color);
  text-align: right;
}

li{
  list-style: none;
}
ul{
  margin-top:1rem !important;
  display: flex;
  flex-wrap: 15px;


}
.mat-button  span{
  font-size: 18px;
}
li:nth-child(2){
  background:#e9e9e9;
  padding-right: 5px;
  color: var(--main-color);
  font-weight: bold;

}
li:nth-child(2) .mat-icon-button{
  /* background: var(--forth-color) !important; */
  padding-right: 5px;
  color: var(--main-color);
  font-weight: bold;

}
li span{
  font-size: 14px;
}
.mat-icon-button{
  border-radius: 0;
  background: #e9e9e9;
}


.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 60px !important;
   padding:0 50px 0 0!important;
  /* box-shadow: 0px 2px 30px 0px rgb(0 0 0 / 30%); */
}

.mat-menu-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
}
.active{
  background-color: var(--forth-color);
  color: #fff;
  border-radius: 0;
}

@media screen and (max-width: 960px) {
  .mat-toolbar-row, .mat-toolbar-single-row {

      /* padding:0 10px !important; */

  }

}
