<mat-toolbar>

    <div class="brand">
      <a routerLink="#">
    <img src="../../../../assets/image/mws-logo.png">
    <span class="mx-2 separator"></span>
    <img src="../../../../assets/image/soultion_logo.png" width="230px">
      </a>
    </div>

    <div class="">
      <button
        class="my-1 bg-transparent"
        mat-icon-button
        (click)="onToggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

  <div class="row ml-auto" >
    <ul fxLayout fxLayoutGap="3px" class="navigation.items">

      <li>
        <button mat-icon-button matTooltip="Send Mail " routerLink="/sendMail">
          <mat-icon>mail</mat-icon>
        </button>
      </li>



      <li>
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
        <span> UserName </span>
      </li>
      <li>
        <button mat-icon-button matTooltip="Change Password" routerLink="/changePassword">
          <mat-icon>lock</mat-icon>
        </button>
      </li>
      <li>
        <button mat-icon-button (click)="logOut()" matTooltip="Logout ">
          <mat-icon>logout</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>
