<!-- loader for loading login page -->
<div class="content-body">
  <div class="Logo mx-auto">

    <img src="../../../../assets/image/soultion_logo.png">

 </div>
  <mat-card>

      <mat-card-content>

          <div class="tool">

             <span class="topic"><mat-icon>lock</mat-icon></span>

          </div>

           <h2>

          Account Login :
           </h2>

           <form  class="mt-3" (ngSubmit)="onSubmit()" name="form" [formGroup]="form">
            <mat-form-field class="w-100" appearance="outline">

              <input formControlName="username" matInput required placeholder="Email">

                <mat-icon  mat-icon-button matSuffix>account_circle</mat-icon>



              <mat-error *ngIf="form.controls['username'].errors?.required">
                *Username is Required
              </mat-error>

          </mat-form-field>


           <!--    Password      -->
           <mat-form-field class="w-100"  appearance="outline">

              <input formControlName="password" matInput type="password" placeholder="Password" required>

                  <mat-icon mat-icon-button matSuffix>https</mat-icon>


              <mat-error *ngIf="form.controls['password'].errors?.required">*Password is Required </mat-error>

          </mat-form-field>

          <div class="remember mb-2">
            <mat-checkbox class="example-margin">Remember me</mat-checkbox>

         </div>
              <button mat-flat-button class="login"   type="submit">Login</button>
              <div class="register mt-2">
                <span class="example-margin text-white" (click)="goToRegister()"><span class="text-dark">New Account ? </span> egister Now</span>

             </div>
              <div class="msg-error pt-3" *ngIf="warning">
                <mat-error >
                   <mat-icon>warning</mat-icon>
                  Enter a valid Email or Password
                  </mat-error>
             </div>
          </form>

      </mat-card-content>

  </mat-card>

  <div class="text-center mt-2">
     <span class="rights">All rights reserved to TE<span class="text-danger">Data</span> 2015 </span>

      </div>

</div>
